.titre{
	font-weight: bold;
}

#titre{
	font-size: 25px;
	}

#lufy{
	text-align: center;
}

h1{
	color: black;
	text-align: center;
}

.social{
	text-align: center;
}

.song
{
	text-align: center;
}

body{
	background-color: #E8FAF4;
}

#luf{
	text-align: center;
}